body { 
    font-family: sans-serif;
    color:#777;
    text-align:justify;
}
.green {
    color:#0c0;
}
.half {
    width:50%;
    float:left;
}
.container {
    padding:5%;
    display: inline-block;
}
.img {
    width:94%;
    padding:2%;
}
.btn {
    color:gold;
    background-color:#8845f4;
    padding:5% 15%;
    border-radius:20px;
}
.experiences {
    padding:30px;
    margin:30px;
    background-color:rgb(238,251,255);
    border-radius:20px;
}
.item {
    padding:5%;
    border-left:1px solid rgba(137,130,247,.2);
}
.half > p {
    text-indent:1cm;
}